body{
    font-family: 'gothic' !important; 
}
.progress{
    margin-top: 100px;
    margin-left: 80px;
}
.h1{
    font-style: bold;
    margin-left: 200px;
    margin-top: 30px;

    
}
.words{    
    margin-left: 200px;
    margin-top: 30px;

  
}
.red{
    color: red;
    align-left: 200px;
    margin-top: 30px;


}
.green{
    color:lightseagreen;

}
.sentence{
    margin-left: 230px;
    margin-top: 30px; 
}
 .rr{
    
margin-left:200px;
    margin-top: 30px;
    color: red;
    
} 
.navbar{
    
    background:#ece2c4!important;
    margin-right: 17px;


     

}
.nav1{
 color:black;

}
.img{
    height: 50px;
    width:50px;
}
.img1{
width: 100%;
    margin-left: -2px;
    margin-top: -492px;
    height:auto;
}
.list-group{

margin-left: -40px;
}
